@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
:root {
  --heightOfClip: 80%;
  --iconSize: 5rem;
  --smallerIconSize: 3rem;
  --borderRadiusLanding: 0.5rem;

  --white: 230;
  --black: 31;
  --modeMargin: 2rem;
  --globalPagePadding: 5rem;
  --teamButtonWrap: 5rem;
  --arrowSize: 3rem;
  --teamHeight: 30rem;
  --teamWidth: 20rem;
  --teamMargin: 2rem;
  --testimonialsTitleSpaceHeight: 5rem;
  --testimonialWidth: 400px;
  --testimonialMaxHeight: 240px;
  --testimonialImageWidth: 3rem;
  --contactUsDivSize: 30rem;
}
body {
  overflow-x: hidden;
}
body a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/* landing page css */
.landing {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(var(--black), var(--black), var(--black)),
    rgb(var(--black), var(--black), var(--black)) 50%,
    rgb(var(--white), var(--white), var(--white)) 50%
  );
  position: relative;
}
.landingClip {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  /* background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1918&q=80"); */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% var(--heightOfClip),
    50% 100%,
    0% var(--heightOfClip)
  );
  background-image: linear-gradient(to right, #ff00b8, #ffc700);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingClipWrap {
  height: 100%;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.3));
}
.nav,
.fixNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem 1rem 6rem;
  box-sizing: border-box;
  align-items: center;
  transition: 0.2s;
}
.landingNavBars {
  font-size: 2rem;
  color: rgb(var(--white), var(--white), var(--white));
  cursor: pointer;
  transition: 0.2s;
}
.landingNavBars:hover {
  color: rgb(210, 210, 210);
  transition: 0.2s;
}
.fixNav {
  position: fixed;
  /* height: 10rem; */
  padding: 0.5rem 6rem 0.5rem 6rem;
}
.sideNav {
  background-color: rgb(var(--black), var(--black), var(--black));
  flex-wrap: wrap;
}

.fixNav {
  background-color: rgb(var(--black), var(--black), var(--black));
}
.nav img {
  width: var(--iconSize);
  height: var(--iconSize);
}
.fixNav img {
  width: var(--smallerIconSize);
  height: var(--smallerIconSize);
}
.nav > ul,
.fixNav > ul {
  width: 30vw;
  justify-content: space-between;
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  box-sizing: border-box;
  color: rgb(var(--white), var(--white), var(--white));
  list-style: none;

  cursor: pointer;
}

.sideNav > div {
  flex: 0 0 100%;
}
.sideNav > div > ul {
  width: 100%;
  justify-content: space-between;
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  box-sizing: border-box;
  color: rgb(var(--white), var(--white), var(--white));
  list-style: none;
  cursor: pointer;
}
.nav ul li,
.fixNav ul li {
  padding: 0.5rem 0;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
}
.nav ul li:hover,
.fixNav ul li:hover {
  transition: 0.2s;
  border-bottom: 1px solid rgb(var(--white), var(--white), var(--white));
}
.sideNav > div > ul {
  padding: 0;
}
.selectedNav {
  transition: 0.3s;

  border-bottom: 1px solid rgb(var(--white), var(--white), var(--white)) !important;
}
.landingDottedLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border-left: 2px dashed rgb(var(--white), var(--white), var(--white));
}
.landingText {
  max-width: 80%;
  background-color: rgb(var(--white), var(--white), var(--white));
  border-radius: var(--borderRadiusLanding);
  /* overflow: hidden; */
  position: relative;
  padding: 3rem;
  box-sizing: border-box;
  color: black !important;
}
.landingTextInvert {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: white;
  color: white;
  border-top-left-radius: var(--borderRadiusLanding);
  border-bottom-left-radius: var(--borderRadiusLanding);
  mix-blend-mode: difference;
  position: absolute;
  top: 0;
  left: 0;
}
.landingText > h1 {
  text-align: center;
  font-size: 4rem;
}
.landingJoin {
  font-size: 2rem;
  background-color: inherit;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.5rem;

  z-index: 100;

  background-color: rgb(var(--white), var(--white), var(--white));
  mix-blend-mode: exclusion;

  color: rgb(var(--white), var(--white), var(--white));
}
.landingWrapJoin {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
.landingButtonWrap {
  width: 100%;
  position: absolute;
  bottom: -3.25rem;
  left: 0;

  display: flex;
  justify-content: center;
}
.landingButton {
  background-color: rgb(var(--white), var(--white), var(--white));
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin: 0 auto;

  border-bottom-left-radius: var(--borderRadiusLanding);
  border-bottom-right-radius: var(--borderRadiusLanding);

  border: none;
  border-top: none;
  cursor: pointer;
  transition: 0.2s;
}
.landingButton:hover {
  transition: 0.2s;
  filter: invert(100%);
}
.dark,
.light {
  position: absolute;
  color: white;

  padding: 0.7rem;
  border-radius: 0.5rem;
  transition: 0.2s;
  margin-bottom: var(--modeMargin);
  cursor: pointer;
  z-index: 5;
}
.dark {
  background-color: rgba(var(--white), var(--white), var(--white), 0.3);
  margin-left: var(--modeMargin);
  bottom: 0;
  left: 0;
}
.light {
  background-color: rgba(var(--black), var(--black), var(--black), 0.3);
  margin-right: var(--modeMargin);
  bottom: 0;
  right: 0;
}

.dark:hover,
.light:hover {
  transition: 0.2s;
  color: rgb(220, 220, 220);
}
.modeSelected {
  border: 2px solid rgb(255, 191, 0);
  box-shadow: 0 0 0.5rem 0.5rem rgba(255, 191, 0, 0.3);
}
/* landing page media query */
@media (max-width: 1265px) {
  .nav ul,
  .fixNav ul {
    width: 40%;
  }
}
@media (max-width: 1090px) {
  .nav ul,
  .fixNav ul {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .sideNav ul,
  .sideNav ul {
    flex-direction: column;
    text-align: end;
  }
}
@media (max-width: 680px) {
  .landingText > h1 {
    text-align: center;
    font-size: 7vw;
  }
}
/* aboutUs page css */
.aboutUs,
.team,
.testimonials,
.contactUs {
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  height: fit-content;
  padding: var(--globalPagePadding);
  box-sizing: border-box;
}
.darkMode {
  transition: 0.3s;
  background-color: rgb(var(--black), var(--black), var(--black));
  color: rgb(var(--white), var(--white), var(--white));
}
.lightMode {
  transition: 0.3s;
  background-color: rgb(var(--white), var(--white), var(--white));
  color: rgb(var(--black), var(--black), var(--black));
}
.aboutUsArticle {
  width: 100%;
  height: 100%;
  display: flex;
}
.aboutUsArticleText {
  width: 50%;
  height: 100%;

  padding: 2rem;
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.aboutUsArticleText h1,
.team > h1,
.testimonials > h1,
.contactUs > h1 {
  font-size: 3rem;
}
.aboutUsArticleText p {
  font-size: 1.2rem;
}
.aboutUsArticleImage {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUsArticleImageIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* about us contact us */
@media (max-width: 1000px) {
  .aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutUsArticle {
    position: relative;

    isolation: isolate;
  }
  .aboutUsArticleText {
    width: 100%;
    height: 100%;
  }
  .aboutUsArticleImage {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: transparent;
    opacity: 0.4;
  }
  .aboutUsArticleImageIcon {
    object-fit: cover;
  }
}

/* team page */
.teamArticle {
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 1rem;

  display: flex;
  align-items: center;
}
.darkMode .teamArticle,
.darkMode .testimonialsCard,
.darkMode .contactUsArticle > div,
.darkMode .fixNav {
  box-shadow: 0 0 1rem 0.2rem
    rgba(var(--white), var(--white), var(--white), 0.15);
}
.lightMode .teamArticle,
.lightMode .testimonialsCard,
.lightMode .contactUsArticle > div,
.lightMode .fixNav {
  box-shadow: 0 0 1rem 0.6rem
    rgba(var(--black), var(--black), var(--black), 0.15);
}
.lightMode .teamArticle {
  background-color: rgba(var(--black), var(--black), var(--black), 0.3);
}
.darkMode .teamArticle {
  background-color: rgba(var(--white), var(--white), var(--white), 0.3);
}
.teamArticleButtonWrap {
  width: var(--teamButtonWrap);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.teamArticleTeams {
  width: calc(100% - var(--teamButtonWrap));
  height: 100%;

  display: flex;
  /* overflow: hidden; */
  overflow: auto;
}
.teamArticleTeams::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.teamArticleIconWrap {
  background-color: grey;
  border-radius: 50%;
  width: var(--arrowSize);
  height: var(--arrowSize);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.2s;
}

.darkMode .teamArticleButtonWrap :hover {
  color: rgb(var(--black), var(--black), var(--black));
  transition: 0.2s;
}
.lightMode .teamArticleButtonWrap :hover {
  color: rgb(var(--white), var(--white), var(--white));
  transition: 0.2s;
}
.teamDimension {
  width: var(--teamWidth);
  height: var(--teamHeight);
  margin-right: var(--teamMargin);
  border-radius: 0.5rem;
  padding: 2rem;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: hidden;
  color: rgb(var(--white), var(--white), var(--white));
  position: relative;
}
.team > h1,
.testimonials > h1,
.contactUs > h1 {
  margin-top: 0;
}
.teamHeader {
  text-align: center;
  font-size: 3rem;
  font-family: "Great Vibes", cursive;
}
.teamDimension:nth-of-type(1) {
  margin-left: var(--teamMargin);
}
.teamGradient1 {
  background: linear-gradient(180deg, #ff00a0 0%, #0040ff 100%);
}
.teamGradient2 {
  background: linear-gradient(180deg, #00d0ff 0%, #0040ff 100%);
}
.teamGradient3 {
  background: linear-gradient(180deg, #00ff8b 0%, #0099ff 100%);
}
.teamGradient4 {
  background: linear-gradient(180deg, #ff0001 0%, #ffbf00 100%);
}
.teamDes {
  font-size: 1.1rem;
}
.teamIconWrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  box-sizing: border-box;
  padding: 1rem;
}
.teamIconWrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* team page media query*/
@media (max-width: 745px) {
  .teamArticleButtonWrap {
    position: absolute;
    right: calc(var(--teamButtonWrap) * -1);
    top: 0;
  }
  .teamArticleButtonWrap:nth-of-type(1) {
    left: calc(var(--teamButtonWrap) * -1);
  }

  .teamArticle {
    position: relative;
  }
  .teamArticleTeams {
    width: 100%;
  }
}
/* testimonials page */
.testimonials > h1 {
  margin: 0;
  height: var(--testimonialsTitleSpaceHeight);
}
.testimonialsSpace {
  height: 40rem;
  width: 100%;
  position: relative;
}
.testimonialsCard {
  position: absolute;
  border-radius: 0.5rem;
  width: var(--testimonialWidth);
  height: var(--testimonialMaxHeight);
  z-index: 5;
  box-shadow: 0 0 1rem 0.6rem
    rgba(var(--black), var(--black), var(--black), 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.darkMode .testimonialsCard {
  background-color: rgb(var(--black), var(--black), var(--black));
  filter: brightness(1.2);
  border: 0.1px solid rgba(var(--white), var(--white), var(--white), 0.2);
}
.lightMode .testimonialsCard {
  background-color: rgb(var(--white), var(--white), var(--white));

  border: 0.1px solid rgba(var(--black), var(--black), var(--black), 0.2);
}
.testimonialDets {
  height: 55%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
.testimonialsLocation {
  height: 20%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.darkMode .testimonialsLocation {
  border-top: 0.1px solid rgba(var(--white), var(--white), var(--white), 0.2);
  border-bottom: 0.1px solid rgba(var(--white), var(--white), var(--white), 0.2);
}
.lightMode .testimonialsLocation {
  border-top: 0.1px solid rgba(var(--black), var(--black), var(--black), 0.2);
  border-bottom: 0.1px solid rgba(var(--black), var(--black), var(--black), 0.2);
}
.testimonialsRating {
  height: 25%;

  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.testimonialUserImageWrap {
  width: var(--testimonialImageWidth);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.testimonialUserImage {
  width: 100%;
  height: var(--testimonialImageWidth);
  border-radius: 50%;
  overflow: hidden;
}
.testimonialUserImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial {
  box-sizing: border-box;

  padding: 1rem;
  padding-top: 0;
  width: calc(100% - var(--testimonialImageWidth));
}
.testimonialFirstName,
.testimonialLastName {
  font-size: 1.5rem;
}
.testimonialLastName {
  font-style: italic;
  color: grey;
}
.testimonialCardHeader {
  margin-bottom: 1rem;
}
.testimonialCardDet {
  font-size: 0.9rem;
  display: -webkit-box;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.testimonialsRating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonialWrapStars {
  width: 50%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.testimonialStar {
  font-size: 2rem !important;
  color: gold;
}
.testimonyCardAnimateOut {
  animation: animateIn 1s reverse;
  opacity: 0;
}
.testimonyCardAnimateIn {
  animation: animateIn 1s;
}
@keyframes animateIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* contact us */
.contactUsArticle {
  width: 100vmax;
  height: 50vmax;

  display: flex;
  max-width: 100%;
  max-height: 40rem;
  display: flex;
  justify-content: center;
}
.contactUsArticle > div {
  width: calc(var(--contactUsDivSize) * 2);
  height: var(--contactUsDivSize);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}
.contactUs {
  position: relative;
}
.contactUsForm {
  background-color: rgb(var(--white), var(--white), var(--white));
}
.contactUsForm,
.contactUsSocial {
  width: 50%;
  height: 100%;
  padding: 3rem;
  box-sizing: border-box;
}
.contactUsSocial {
  background-color: rgb(var(--black), var(--black), var(--black));
  color: rgb(var(--white), var(--white), var(--white));
}

.entry {
  background-color: inherit;
  padding: 0.3rem;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(var(--black), var(--black), var(--black));
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 2rem;
}

.formLabel {
  display: block;
  font-size: 1rem;
  color: rgb(var(--black), var(--black), var(--black));
}

.message {
  height: 4rem;
  margin-bottom: 3rem;
}

.sendMessage {
  padding: 0.8rem 1.6rem;
  text-align: center;
  background-image: linear-gradient(to right, #ff00b8, #ffc700);
  border-radius: 0.5rem;
  color: rgb(var(--white), var(--white), var(--white));
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.3rem;
  font-family: inherit;
}
.sendMessage:hover,
.socialIcon:hover {
  transition: 0.2s;
  transform: scale(1.2);
}
.contactUsContainSocial {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: 1fr 10px 1fr 10px 1fr;
}
.socialIcon {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  transition: 0.2s;
  cursor: pointer;
}
.rowDimacator {
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 5%;
  background-color: rgb(var(--white), var(--white), var(--white));
}
.columnDimacator {
  justify-self: center;
  align-self: center;
  height: 70%;
  width: 5%;
  background-color: rgb(var(--white), var(--white), var(--white));
}
/* contact us media query */
@media (max-width: 1045px) {
  .contactUsArticle > div {
    flex-direction: column;
    width: 50vmax;
    height: 100vmax;
  }
  .contactUsArticle {
    width: 100%;
    height: max-content;
    max-height: 1000rem;
    justify-content: center;
  }
  .contactUsForm,
  .contactUsSocial {
    height: 50%;
    width: 100%;
  }
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
